.app {
  padding-top: 28px;
  padding-bottom: 29px;

  text-align: center;

  background-color: #283645;

  @media (min-width: 660px) {
    position: relative;
    z-index: 2;

    width: 300px;
    padding: 93px 0;

    background-color: transparent;
  }

  @media (min-width: 960px) {
    padding: 109px 0;
  }
}

.app__container {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: 660px) {
    width: 300px;
    padding-left: 0;
    padding-right: 0;
  }
}

.app__button {
  display: inline-block;
  width: 280px;
  margin-bottom: 32px;
  padding: 15px 30px 16px;
  vertical-align: top;

  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;

  border: solid 3px #ffffff;
  border-radius: 30px;
  background-color: transparent;

  @media (min-width: 660px) {
    width: 300px;
    margin-bottom: 46px;
  }

  @media (min-width: 960px) {
    margin-bottom: 67px;
    padding: 14px 20px;

    font-size: 21px;
    line-height: 21px;
  }
}

.app__platforms {
  display: block;

  width: 230px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
  margin-bottom: 0;

  font-weight: 300;

  @media (min-width: 660px) {
    width: 300px;
    margin-top: 28px;
    margin-left: 0;
    margin-right: 0;

    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: 960px) {
    margin-top: 45px;
  }
}

.app__slogan {
  @media (max-width: 659px) {
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    white-space: nowrap;

    border: 0;

    clip-path: inset(100%);
  }

  @media (min-width: 660px) {
    width: 190px;
    margin-top: 0;
    margin-bottom: 30px;
    padding-left: 55px;
    padding-right: 55px;

    font-size: 40px;
    line-height: 48px;
    font-weight: 300;
    color: #ffffff;
  }

  @media (min-width: 960px) {
    width: 240px;
    margin-bottom: 51px;
    padding-left: 30px;
    padding-right: 30px;

    font-size: 50px;
    line-height: 60px;
  }
}
