.gallery {
  font-size: 14px;
  line-height: 24px;
  color: #283645;
}

.gallery__slogan {
  width: 250px;

  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 43px;
  padding-bottom: 50px;

  line-height: 30px;
  text-align: center;

  @media (min-width: 660px) {
    width: 450px;
    padding-top: 92px;
    padding-bottom: 75px;

    font-size: 18px;
    line-height: 30px;
  }
}

.gallery__container {
  position: relative;

  background-color: #ffffff;
}
