.intro {
  padding-top: 66px;

  color: #ffffff;

  background: #283645 url("../img/bg-back-mobile@1x.jpg") center top no-repeat;
  background-size: 700px auto;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: 320px auto;
  }

  @media (min-width: 660px) {
    padding-top: 110px;

    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: 1200px auto;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  @media (min-width: 960px) {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-size: 2560px auto;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }

  &--opened {
    padding-top: 0;

    background-position: center -69px;

    @media (min-width: 660px) {
      background-position: center -110px;
    }
  }
}

.intro__container {
  position: relative;

  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: 660px) {
    width: 660px;
    height: 100%;
  }

  @media (min-width: 960px) {
    width: 960px;
    padding-right: 10px;
    padding-left: 10px;
  }

  &--index {
    width: auto;
    padding: 0;

    &::before {
      content: "";

      position: relative;
      bottom: 0;

      display: block;
      width: 320px;
      height: 396px;
      margin: 0;
      margin-left: auto;
      margin-right: auto;

      background: url("../img/iphone-hand-mobile@1x.png") left bottom no-repeat;
      background-size: 258px auto;

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/iphone-hand-mobile@2x.png");
      }
    }

    @media (min-width: 660px) {
      min-height: 619px;
      padding-left: 20px;
      padding-right: 20px;

      &::before {
        position: absolute;
        bottom: 0;
        right: 0;
        top: 74px;
        z-index: 1;

        width: 100%;
        height: 545px;


        background: url("../img/iphone-hand-tablet@1x.png") -20px bottom no-repeat;
        background-size: 700px auto;

        @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
          background-image: url("../img/iphone-hand-tablet@2x.png");
        }
      }
    }

    @media (min-width: 960px) {
      min-height: 743px;

      &::before {
        top: 99px;

        width: 100%;
        height: 645px;

        background: url("../img/iphone-hand-desktop@1x.png") 26px bottom no-repeat;
        background-size: 1050px auto;

        @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
          background-image: url("../img/iphone-hand-desktop@2x.png");
        }
      }
    }
  }

  &--inner {
    padding-top: 28px;
    padding-bottom: 28px;
    min-height: 170px;

    @media (min-width: 660px) {
      width: 660px;
      height: 100%;
      padding-top: 69px;
      padding-bottom: 69px;
      min-height: 330px;
    }

    @media (min-width: 960px) {
      width: 960px;
      min-height: 284px;
      padding-top: 64px;
      padding-bottom: 64px;
    }
  }
}

.intro__title {
  margin: 0;

  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;

  @media (min-width: 660px) {
    font-size: 50px;
    line-height: 60px;
  }

  &--gallery {
    @media (min-width: 660px) {
      width: 560px;
      margin: 0 auto;
    }
  }

  &--form {
    @media (min-width: 960px) {
      width: 900px;
      margin: 0 auto;
    }
  }
}

.intro__container--index .intro-title {
  .visually-hidden;
}
