.main-nav {
  position: absolute;
  top: 48px;
  left: -40px;
}

.main-nav__wrapper {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  padding: 0;
}

.main-nav__toggle {
  position: absolute;
  top: -26px;
  left: 290px;

  width: 50px;
  height: 24px;
  padding: 0;
  outline: none;

  border: none;
  background: url("/img/icon-menu-burger.svg") center center no-repeat;
}
