.main-nav__wrapper {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  padding: 0;
}

.main-nav__toggle {
  width: 50px;
  height: 24px;
  padding: 0;
  outline: none;

  border: none;
  background: url("../img/icon-menu-burger.svg") center center no-repeat;
}
