.nav-list {
  .no-list;

  display: block;
  margin-top: 4px;

  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;

  &--closed {
    display: none;
  }

  @media (min-width: 1200px) {
    display: flex;
  }
}

.nav-list__link {
  display: block;
  margin: 0;
  padding: 16px 20px;

  color: #ffffff;
  text-decoration: none;

  background: #283645;
  box-shadow: 0 -1px 0 #000000, inset 0 1px 0 rgba(255, 255, 255, 0.15);

  @media (min-width: 1200px) {
    background: transparent;
    box-shadow: none;
  }
}

.nav-list__item {
  @media (min-width: 1200px) {
    margin-right: 80px;
  }
}
