.nav-list {
  .no-list;

  display: block;

  background: #293646;

  margin: 0 -20px;

  color: #ffffff;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
}

.nav-list__item {
  padding: 24px 20px;
}

.nav-list__link {
  color: #fff;
  text-decoration: none;
}
