.nav-list {
  .no-list;

  margin-top: 3px;

  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;

  &--closed {
    display: none;
  }

  &--opened {
    display: block;
  }

  @media (min-width: 660px) {
    margin-top: 0;
    margin-bottom: -45px;
  }

  @media (min-width: 960px) {
    display: flex;
    width: 760px;
    padding-top: 45px;
    padding-left: 150px;

    font-size: 18px;
    line-height: 18px;
    font-weight: normal;
    text-transform: none;
  }
}

.nav-list__link {
  display: block;
  margin: 0;
  padding: 16px 20px;

  color: #ffffff;
  text-decoration: none;

  background: #283645;
  box-shadow: 0 -1px 0 #000000, inset 0 1px 0 rgba(255, 255, 255, 0.15), inset 0 -1px 0 #000000;

  @media (min-width: 960px) {
    padding: 0;

    background: none;
    box-shadow: none;
  }
}

.nav-list__item {
  position: relative;

  @media (min-width: 960px) {
    margin-right: 80px;
  }

  &--active::after {
    @media (min-width: 960px) {
      content: "";

      position: absolute;
      right: 0;
      bottom: -12px;
      left: 0;

      height: 2px;

      background: #ffffff;
    }
  }
}
