.page-footer {
  width: 100%;
}

.page-footer__logo {
  display: block;
  margin-bottom: 43px;
  margin-left: auto;
  margin-right: auto;
}

.page-footer__powered-by {
  position: relative;

  display: block;
  max-width: 128px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;

  font-size: 14px;
  line-height: 18px;
  color: #283645;
  text-decoration: none;
  text-align: left;

  &::after {
    content: "";

    position: absolute;
    top: -2px;
    left: 101px;

    width: 27px;
    height: 34px;

    background: url("../img/htmlacademy.svg") no-repeat;
  }

  @media (min-width: 1200px) {
    font-size: 18px;

    &::after {
      left: 115px;
    }
  }
}

.page-footer__container {
  @media (min-width: 660px) {
    display: flex;
    justify-content: space-between;
    margin-top: 85px;
  }

  @media (min-width: 1200px) {
    margin-top: 70px;
  }
}
