.page-header {
  z-index: 15;

  width: 100%;
  max-height: 66px;

  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  color: #ffffff;

  background: rgba(0, 0, 0, 0.3);

  &--closed {
    position: absolute;
  }

  &--opened {
    position: relative;

    max-height: 69px;

    background: #283645;
  }

  @media (min-width: 660px) {
    max-height: 110px;
  }
}

.page-header__logo {
  display: inline-block;
  max-height: 22px;
  margin: 20px;
  margin-top: 22px;
  margin-bottom: 22px;
  vertical-align: middle;

  @media (min-width: 660px) {
    width: 147px;
    height: 40px;
    max-height: 40px;
    margin-top: 27px;
    margin-bottom: 43px;
  }

  @media (min-width: 1200px) {
    margin-right: 173px;
  }
}

.page-header__container {
  max-width: 1200px;

  @media (min-width: 1200px) {
    display: flex;
    margin: 0 auto;
  }
}
