.page-header {
  position: relative;

  padding: 20px 0;

  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  color: #ffffff;

  background: rgba(0, 0, 0, 0.3);
  color: #ffffff;
}

.page-header__main-nav {
  text-align: center;
}
