.page-footer {
  // width: 100%;
}

.page-footer__logo {
  display: block;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;

  @media (min-width: 660px) {
    margin: 0;
    padding: 0;
  }
}

.page-footer__powered-by {
  position: relative;

  display: block;
  max-width: 128px;
  margin-left: auto;
  margin-right: auto;

  font-size: 14px;
  line-height: 18px;
  color: #283645;
  text-decoration: none;
  text-align: left;

  @media (min-width: 660px) {
    margin: 0;
    margin-right: 40px;
    margin-top: 14px;
    padding: 0;
  }

  &::after {
    content: "";

    position: absolute;
    top: -9px;
    left: 96px;

    width: 41px;
    height: 48px;

    background: url("../img/htmlacademy.svg") no-repeat;
  }

  @media (min-width: 960px) {
    font-size: 18px;

    &::after {
      left: 115px;
    }
  }
}

.page-footer__container {
  @media (min-width: 660px) {
    display: flex;
    justify-content: space-between;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 85px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 36px;
    padding-bottom: 34px;
  }

  @media (min-width: 960px) {
    margin-top: 70px;
  }
}
