.page-main {
  position: relative;

  width: 100%;

  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
  color: #283645;
}

.page-main__title {
  width: 230px;

  font-size: 24px;
  line-height: 32px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
}
