.posts-list {
  .no-list;

  display: flex;
  flex-direction: column;

  text-align: left;

  @media (min-width: 660px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.posts-list__item {
  display: flex;
  flex-direction: column;
  max-width: 280px;
  margin-bottom: 20px;
  margin-left: 20px;

  background: #fefefe;

  @media (min-width: 660px) {
    min-width: 300px;

    &--best {
      min-width: 620px;
    }
  }

  @media (min-width: 1200px) {
    &--best {
      min-width: 940px;
    }
  }
}

.posts-list__review {
  margin-left: 17px;
}

.posts-list__author {
  display: inline-block;
  vertical-align: middle;

  font-weight: bold;
}

.posts-list__time {
  display: inline-block;
  vertical-align: middle;

  font-size: 12px;
  font-weight: 300;
}

.posts-list__likes {
  position: relative;

  margin-left: 30px;

  font-size: 12px;
  color: #d22856;

  &::before {
    content: "";

    position: absolute;
    top: 5px;
    left: -30px;

    width: 13px;
    height: 12px;

    background: url("../img/icon-heart.svg");
  }
}

.posts-list__image {
  text-decoration: none;
}
