.posts-list {
  .no-list;

  display: flex;
  flex-wrap: wrap;

  @media (min-width: 660px) {
    padding-top: 33px;
  }

  @media (min-width: 960px) {
    padding-top: 0;
  }
}

.posts-list__item {
  display: flex;
  flex-direction: column;
  width: 280px;
  min-height: 301px;
  margin-bottom: 20px;

  @media (min-width: 660px) {
    width: 300px;
    min-height: 455px;
    margin-right: 20px;
  }

  @media (min-width: 660px) and (max-width: 959px) {
    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  @media (min-width: 960px) {
    min-height: 555px;
    margin-bottom: 54px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

.posts-list__link {
  display: block;
}

.posts-list__photo {
  display: block;

  @media (min-width: 660px) {
    width: 300px;
    height: 300px;
  }

  @media (min-width: 960px) {
    height: 400px;
  }
}

.posts-list__review {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 18px 18px 20px;

  background-color: #f2f2f2;

  @media (min-width: 660px) {
    padding: 24px 31px 22px 28px;
  }
}

.posts-list__author {
  display: inline;

  font-weight: bold;
}

.posts-list__time {
  display: inline;

  font-size: 12px;
  line-height: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.posts-list__text {
  flex-grow: 1;
  width: 260px;
  margin-top: 0;
  margin-bottom: 0;
}

.posts-list__likes {
  position: relative;

  margin-top: 10px;
  margin-left: 32px;

  font-size: 12px;
  line-height: 24px;
  color: #d22856;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: 660px) {
    margin-left: 0;
  }

  &::before {
    content: "";

    position: absolute;
    top: 5px;
    left: -32px;

    width: 13px;
    height: 12px;

    background: url("../img/icon-heart.svg");

    @media (min-width: 660px) {
      top: 5px;
      left: 228px;
    }
  }
}
