.research {
  display: none;
}

@media (min-width: 660px) {
  .research {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-top: 60px;
  }

  .research__item {
    width: 295px;
  }

  .research__slogan {
    margin: 0;

    font-size: 30px;
    line-height: 36px;
    color: #000000;
  }

  .research__description {
    font-size: 14px;
    line-height: 24px;
    color: #283645;
  }

  .research__link {
    font-size: 14px;
    line-height: 24px;
    color: #d22856;
    text-decoration-color: #d22856;
  }
}

@media (min-width: 1200px) {
  .research {
    background: #f2f2f2;
  }
}
