.research {
  display: none;

  @media (min-width: 660px) {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: 960px) {
    background: #f2f2f2;
  }
}

.research__item {
  @media (min-width: 660px) {
    width: 295px;
  }
}

.research__slogan {
  @media (min-width: 660px) {
    margin: 0;
    margin-top: 37px;

    font-size: 30px;
    line-height: 36px;
    color: #000000;
  }
}

.research__description {
  @media (min-width: 660px) {
    width: 300px;
    margin-top: 11px;
    margin-bottom: 8px;

    font-size: 14px;
    line-height: 24px;
    color: #283645;
  }
}

.research__link {
  @media (min-width: 660px) {
    font-size: 14px;
    line-height: 24px;
    color: #d22856;
    text-decoration-color: #d22856;
  }
}

.research__container {
  display: flex;
  max-width: 620px;
  margin: 0 auto;
  padding-top: 60px;
}

.research__icon {
  margin-right: 71px;
}
