.social-list {
  .no-list;

  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 180px;
  padding-bottom: 45px;
  margin-left: auto;
  margin-right: auto;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  margin-right: 12px;

  border: solid 3px rgba(40, 54, 69, 0.1);
  border-radius: 50%;
}
