.social-list {
  display: flex;

  margin: 0;
  padding: 0;
  margin-bottom: 41px;

  list-style: none;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 17px;

    width: 46px;
    height: 46px;

    border: solid 3px rgba(40, 54, 69, 0.1);
    border-radius: 50%;
  }

  &__item:first-child {
    margin-left: 63px;
  }
}
