.stores-list {
  display: flex;

  padding: 0;
  margin: 0;

  &__item:first-child {
    margin-top: 32px;
    margin-left: 57px;
    margin-right: 34px;
  }

  &__item:nth-child(2) {
    margin-top: 40px;
    margin-right: 37px;
  }

  &__item:last-child {
    margin-top: 44px;
  }
}
