.stores-list {
  .no-list;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 205px;
  margin-left: auto;
  margin-right: auto;
}

.stores-list__item {
  padding-bottom: 2px;
}
