.suggestions__slogan {
  font-size: 24px;
  line-height: 32px;
  font-weight: 300;
  color: #283645;
  text-align: center;

  @media (min-width: 660px) {
    width: 585px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    font-size: 40px;
    line-height: 44px;
  }
}

.suggestions__list {
  .no-list;

  background: #f2f2f2;

  @media (min-width: 1200px) {
    display: flex;
    justify-content: space-around;
    padding-left: 165px;
    padding-right: 165px;
  }
}

.suggestions__item {
  padding-top: 20px;
}

.suggestions__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
  text-align: center;
}

.suggestions__description {
  display: block;
  width: 259px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;

  font-size: 14px;
  line-height: 24px;
  color: #283645;
  text-align: center;
}
