.suggestions {
  padding-top: 39px;

  @media (min-width: 660px) {
    padding-top: 50px;
  }

  @media (min-width: 960px) {
    padding-top: 68px;
  }
}

.suggestions__slogan-container {
  box-sizing: border-box;
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto 31px;

  @media (min-width: 660px) {
    width: 660px;
    margin-bottom: 44px;
  }

  @media (min-width: 960px) {
    width: 960px;
    margin-bottom: 75px;
    padding-right: 10px;
    padding-left: 10px;
  }
}

.suggestions__slogan {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: #283645;
  text-align: center;

  @media (min-width: 660px) {
    font-size: 40px;
    line-height: 48px;
  }

  @media (min-width: 960px) {
    font-size: 50px;
    line-height: 60px;
  }

  &--cosmetic {
    padding-top: 27px;

    @media (min-width: 660px) {
      width: 350px;
      margin-left: auto;
      margin-right: auto;
      padding-top: 0;
    }

    @media (min-width: 960px) {
      width: 500px;
    }
  }
}

.suggestions__wrapper {
  position: relative;
  padding-top: 80px;

  @media (min-width: 660px) {
    padding-top: 0;
  }

  &::before {
    content: "";

    position: absolute;
    top: 0;
    z-index: 0;

    width: 100%;
    height: 100%;

    background: #f2f2f2 url("../img/bg-triangle-white.svg") center top no-repeat;
    background-size: 100%;
  }
}

.suggestions__container {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  text-align: center;

  @media (min-width: 660px) {
    width: 660px;
    padding-top: 76px;
  }

  @media (min-width: 960px) {
    width: 960px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 0;
  }
}

.suggestions__list {
  .no-list;

  position: relative;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (max-width: 659px) {
    &::after {
      content: "";

      position: relative;
      bottom: 0;

      display: block;
      width: 157px;
      height: 277px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;

      background: url("../img/iphone-screen-mobile@1x.png") center top no-repeat;
      background-size: 157px auto;

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/iphone-screen-mobile@2x.png");
      }
    }
  }

  @media (min-width: 660px) and (max-width: 959px) {
    padding-left: 50%;
    text-align: left;
    padding-bottom: 42px;

    &::before {
      content: "";

      position: absolute;
      bottom: 0;
      left: 0;

      width: 268px;
      height: 481px;

      background: url("../img/iphone-screen-3-tablet@1x.png") center top no-repeat;
      background-size: 268px auto;

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/iphone-screen-3-tablet@2x.png");
      }
    }
  }

  @media (min-width: 960px) {
    flex-direction: row;
    padding: 0;

    text-align: center;
  }
}

.suggestions__item {
  margin-bottom: 31px;

  @media (min-width: 660px) {
    margin-bottom: 33px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (min-width: 960px) {
    position: relative;

    box-sizing: border-box;
    width: 300px;
    margin-right: 20px;
    margin-bottom: 0;
    padding: 357px 30px 67px;

    font-size: 18px;
    line-height: 30px;

    &:nth-child(3n) {
      margin-right: 0;
    }

    &--mood::before {
      content: "";

      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 302px;

      background: url("../img/iphone-screen-1-desktop@1x.png") center top no-repeat;
      background-size: 292px auto;

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/iphone-screen-1-desktop@2x.png");
      }
    }

    &--world::before {
      content: "";

      position: absolute;
      top: 0;
      left: 3px;

      width: 100%;
      height: 302px;

      background: url("../img/iphone-screen-2-desktop@1x.png") center top no-repeat;
      background-size: 292px auto;

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/iphone-screen-2-desktop@2x.png");
      }
    }

    &--friends::before {
      content: "";

      position: absolute;
      top: 0;
      left: 3px;

      width: 100%;
      height: 302px;

      background: url("../img/iphone-screen-3-desktop@1x.png") center top no-repeat;
      background-size: 292px auto;

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/iphone-screen-3-desktop@2x.png");
      }
    }
  }
}

.suggestions__title {
  margin: 0;
  margin-bottom: 12px;

  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;

  @media (min-width: 660px) {
    margin-bottom: 13px;
  }

  @media (min-width: 960px) {
    margin-bottom: 24px;

    font-size: 30px;
    line-height: 30px;
  }
}

.suggestions__description {
  display: block;
  width: 260px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;

  font-size: 14px;
  line-height: 24px;
  color: #283645;
  text-align: center;

  @media (min-width: 660px) {
    width: 310px;
    margin: 0;

    text-align: left;
  }

  @media (min-width: 960px) {
    width: 240px;

    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }
}
